body {
  padding: 20px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

td {
  padding: 10px;
}

select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  outline: none;
}

select option {
  padding: 10px;
  color: #333; /* Màu chữ */
  background-color: #f2f2f2; /* Màu nền */
}
.number {
  padding: 10px;
}
.current {
  color: red;
}
a {
  text-decoration-line: none;
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
  background-color: #fff;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: red;
}
.popupDelete-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.open {
  display: block;
}
.popupDelete-content {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.popupDelete-content > form {
  display: flex;
  justify-content: center;
}
.popupDelete-content input {
  padding: 10px;
  margin: 10px;
}
