:root {
    --background-input: #6d6d6d1c;
    --color-input: rgb(31, 31, 31);
    --background-login: #fff;
    --color-login: #000;
}

.login {
    margin-top: 0 !important;
}

.box-login {
    background-color: var(--background-login);
}

.title-hr {
    background-color: var(--background-login);
    color: var(--color-login);
    width: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
