.icon-contact {
    width: 30px;
    height: 30px;
    transition: all 0.3s;
}
.icon-contact:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

footer {
    box-shadow: 0 0 5px 1px #f0f0f0;
    padding: 20px 100px;
    margin-top: 60px;
}
footer p {
    color: #414141;
    font-size: 14px;
}